<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="theme-color" content="#000000">
    <title>测评页面</title>
    <link href="../css/normalize.css" rel="stylesheet" type="text/css">
    <link href="../css/Selection-all.css" rel="stylesheet" type="text/css">
</head>

<body style="background-color: #fff;">
    <header class="title">
        <a class="r_return" onclick="popPage()"></a>
        中材民主测评表
    </header>
    
    <div class="container">
        <div class="answer">
            <p>1/12</p>
            <p class="top"><b>#忠诚企业</b><font id="0" name="0">重操守，有大局意识，服从安排，恪尽职守，勤勉敬业，维护企业整体利益。</font><a >(标准)</a></p>
            <dl >
                <dt id="0">张大大</dt>
                <dd  class="box must" >
                    <input  type="checkbox" class="select" name="q0" id="radio00" value="优1">
                    <label for="radio00">优方法</label>

                    <input  type="checkbox" class="select" name="q1" id="radio01" value="优1">
                    <label for="radio01">良两害</label>

                    <input  type="checkbox" class="select" name="q2" id="radio02" value="优1">
                    <label for="radio02">中红人湖</label>

                    <input  type="checkbox" class="select" name="q3" id="radio03" value="优1">
                    <label for="radio03">良</label>

                </dd>
                </dl>
        </div>
                <div class="answer">
                    <p>2/12</p>
                    <p class="top" ><b>#忠诚企业</b>重操守，有大局意识，服从安排，恪尽职守，勤勉敬业，维护企业整体利益。<a >(标准)</a></p>
                    <dl >

                <dt id="1">杨大伟</dt>
                <dd class="box must">
                    <input   type="radio" class="radios" name="q1"id="radio10"value="优2">
                    <label for="radio10" >优</label>
                
                    <input  type="radio" class="radios" name="q1" id="radio11"value="良2">
                    <label for="radio11">良</label>
               
                    <input  type="radio" class="radios" name="q1" id="radio12"value="中2">
                    <label for="radio12">中</label>
               
                    <input  type="radio" class="radios" name="q1" id="radio13"value="差2">
                    <label for="radio13">差</label>
                </dd>
            </dl>
        </div>  
        <div class="answer times">
            <p>3/12</p>
            <p class="top" ><b>#忠诚企业</b>重操守，有大局意识，服从安排，恪尽职守，勤勉敬业，维护企业整体利益。<a>(标准)</a></p>
            <dl>
                <dt id="2">杨大伟</dt>
                <p>政治<input type="text" class="sorting" maxlength="1"></p>
                <p>立场<input type="text" class="sorting" maxlength="1"></p>
                <p>坚定<input type="text" class="sorting" maxlength="1"></p>
                <p>信念<input type="text" class="sorting" maxlength="1"></p>
            </dl>
        </div>
        <div>
            <p>4/12</p>
            <p class="top" ><b>#忠诚企业</b>重操守，有大局意识，服从安排，恪尽职守，勤勉敬业，维护企业整体利益。<a>(标准)</a></p>
            <dl onclick="paixu(this)">
                <dt id="3">杨大伟</dt>
                <p>政治<input type="text" class="sorting" maxlength="1"></p>
                <p>立场<input type="text" class="sorting" maxlength="1"></p>
                <p>坚定<input type="text" class="sorting" maxlength="1"></p>
                <p>信念<input type="text" class="sorting" maxlength="1"></p>
            </dl>
        </div>
        <!-- <div class="renameResumeWrap">
            <div class="renameResume">
                <h4>确认交卷</h4>
                <p>您已完成所有题目，是否交卷？</p>
                <ul>
                    <li class="renameResumeClose" onclick="Close()">取消</li>
                    <li onclick="okBtn()">确认交卷</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="bounced">
        <div class="bounced-con">
            <span onclick="Close()">X</span>
            <h4>详情</h4>
            <p>了呵呵呵呵呵覅或覅恶化好i好汇额无法后悔我佛我好喝我佛法 ohoh我覅哦额好好为及哦吼维护我货物和哦我佛我还未回货无 我覅覅偶尔会佛我佛我佛我费哈佛服务 </p>
        </div>
    </div>
    <footer>
        <span class="hrefBtn"  onclick="submit()">提交试卷</span>
        <span class="hrefBtn notHrefBtn"  onclick="gotoask()"><p>您有未完成的题目</p></span>
    </footer> -->

    <script type="text/javascript" src="../js/base/jquery-1.11.0.min.js" ></script>
    <!-- <script type="text/javascript" src="../js/page/Selection(3).js"></script> -->
    <script type="text/javascript" src="../js/page/Selection-all.js"></script>
    <script type="text/javascript">
     function popPage() {
            window.history.go(-1);
        }
    </script>
    
</body>

</html>
